/*----------------------Seção de Tags---------------------*/

body {
    background: yellow;
}
h1 {
    color: blue;
}
h2 {
    color: green;
}
h3 {
    color: red;
}


/*----------------------Seção de Classes------------------*/
.foto {
    width: 20%;
} 

/*----------------------Seção de Id----------------------*/