/*----------------------Seção de Tags---------------------*/

body {
    background: rgba(240, 240, 169, 0.658);
}
h1 {
    color: rgb(81, 81, 168);
}
h2 {
    color: rgb(40, 109, 40);
}
h3 {
    color: rgb(163, 67, 67);
}


/*----------------------Seção de Classes------------------*/
.foto {
    width: 20%;
} 

/*----------------------Seção de Id----------------------*/